

input.ng-invalid.ng-touched{
    border: solid 1px red;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

.bootstrap-select.ng-invalid.ng-touched{
    border-bottom: solid 1px red;
}

.error{
    font-family: 'glacial_indifferenceregular';
    font-size: 16px;
    color: red;
}

.sign-up{
    margin-bottom: 15px;
}

.span-error{
    padding-top: 10px;
}


